<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>

    <style type="text/css">

            .job-listing{
                width:100%;
                border-collapse:collapse;
            }
            .job-listing td{
                padding:7px; border:#000000 1px solid;
            }

            .job-listing tr{
                background: #FFFFFF;
            }

            .job-listing tr:nth-child(odd){
                background: #C0C0C0;
            }

            .job-listing tr:nth-child(even){
                background: #FFFFFF;
            }

    </style>

</head>

<body>




    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>